<h1>Listing bluetooths</h1>

<table>
  <tr>
    <th>User</th>
    <th>Mac addr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bluetooths.each do |bluetooth| %>
  <tr>
    <td><%= bluetooth.user_id %></td>
    <td><%= bluetooth.mac_addr %></td>
    <td><%= link_to 'Show', bluetooth %></td>
    <td><%= link_to 'Edit', edit_bluetooth_path(bluetooth) %></td>
    <td><%= link_to 'Destroy', bluetooth, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bluetooth', new_bluetooth_path %>
